  <div id="breadcrumb">
    <div class="container">
      <div class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li>Services</li>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="container">
      <h3><%= t('message.company_service')%></h3>
      <hr>
      <%- @services.each do |service| -%>
        <div class="row">
          <div class="col-md-6">
            <img src="<%= service.image_url %>" class="img-responsive" style="max-height: 300px">
            <p><%= service.description %></p>
          </div>

          <div class="col-md-6">
            <div class="media">
              <ul>
                <li>
                  <div class="media-left">
                    <i class="<%= service.icon %>"></i>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%= service.name %></h4>
                    <p style="">
                      <% service.sub_service.split("\r\n").each do |sub| %>
                      <%= "#{sub}" %>
                      <br/>
                    <% end %>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
