<div class="container">
    <h3><%= @title %> </h3>
    <hr/>
    <div id="products" class="row list-group">
      <%= render partial: 'products/product', collection: @products, as: :product %>
    </div>
</div>
