<div class="col-sm-4">
  <div style="padding-right: 100px">
    <ul class="nav nav-pills nav-stacked">
      <%= li_active_link 'Company', admin_companies_path  %>
      <%= li_active_link 'Service', admin_services_path  %>
      <%= li_active_link 'Contacts', admin_contacts_path  %>
      <%= li_active_link 'Blogs', admin_blogs_path  %>
    </ul>
  </div> 
</div>
