<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(<%= @company.background_url %>)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-12">
                            <div class="carousel-content">
                                <h2 class="animation animated-item-1 text-center">CÔNG TY TNHH THIẾT KẾ XÂY DỰNG</h2>
                                <h2 class='text-center'><span>MIỀN ĐÔNG VÀ TÂY NGUYÊN</span></h2>
                            </div>
                        </div>

                        

                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->