<div class="col-md-3">
  <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
    <i class="fa fa-book"></i>
    <h2>Full Responsive</h2>
    <p>Quisque eu ante at tortor imperdiet gravida nec sed turpis phasellus.</p>
  </div>
</div>