<div class="col-md-3">
  <div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
    <i class="fa <%= service.icon %>"></i>
    <h2><%= service.name %></h2>
    <!-- <p><%= simple_format(service.sub_service) %></p> -->
  </div>
</div>