
<div class="container-fuild">
  <div class="row">
    <%= render '/shared/main_slider' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4><%= t('message.product_default') %></h4>
    <hr/>
    <%= render partial: 'products/product', collection: @main_products, as: 'product' %>
  </div>

  <div class="row box-partner">
    <h3>Liên kết</h3>
    <hr/>
    <% (0..3).each do |item| %>
      <div class="col-sm-3 partner-item">
        <div class="thumbnail">
          <a href="http://www.hcmut.edu.vn/vi/welcome/view/cac-don-vi-truc-thuoc/trung-tam-khoa-hoc--cong-nghe/tt-nghien-cuu-cong-nghe-va-thiet-bi-cong-nghiep-" target="_blank">
            <img src="http://www.tuoitrebachkhoa.edu.vn/UploadImages/logo_bk28vien29-1458898048909.png" alt="Nature">
            <div class="caption">
              <p>TRUNG TÂM NGHIÊN CỨU CÔNG NGHỆ & THIẾT BỊ CÔNG NGHIỆP (RECTIE)</p>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>

