<div class="container" style="margin-top: 100px">
  <%= flash_messages %>
  <div class="row">
    <%= render 'shared/admin_menu' %>
    <div class="col-sm-8">
    </div>
  </div>
  <div class="row">
    <table id="services" class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Company</th>
          <th>Subject</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <%=  render partial: 'contact', collection: @contacts %>
      </tbody>
    </table>
  <div style="height: 50px;"></div>

  </div>
</div>