<tr id="product-<%= product.id %>">
  <td>
    <%= product.name %>
  </td>
  <td>
    <%= link_to 'Edit', edit_admin_product_path(product.id),
      class: 'btn btn-success' %>
    <%= link_to 'Delete', admin_product_path(product.id), method: :delete,
      remote: true,
      class: 'btn btn-danger',
      data: {confirm: "Are you sure?"} %>
  </td>
</tr>
