<div class="container">
  <div class="row">
    <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
    <h3>Tổng quan công ty</h3>
    <table class="table">
      <tr>
        <td>Tên đầy đủ : </td>
        <td>Công ty TNHH Thiết kế Xây dựng Miền Đông và Tây Nguyên</td>
      </tr>
      <tr>
        <td>Mã số thuế : </td>
        <td>0313302383</td>
      </tr>
      <tr>
        <td>Trụ sở chính: </td>
        <td>Đường 11, Trường Thọ, Thủ Đức, TP HCM.</td>
      </tr>
      <tr>
        <td>STK :</td>
        <td> 199498179 Ngân hàng TMCP Á Châu (ACB), chi nhánh Thủ Đức, TP. HCM.</td>
      </tr>
      <tr>
        <td>Điện thoại    :</td>
        <td>0979 006 996 - 0932 702 446</td>
      </tr>
      <tr>
        <td>Website :</td>
        <td>xaydungmiendong.com   Email: miendongtaynguyen@gmail.com</td>
      </tr>
    </table>
    </div>

    <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
      <h3><%= @company.about_us_title %> </h3>
      <p><%= @company.about_us_content.html_safe %></p>
    </div>
  </div>

  <div class="row">
    <h3>Tiêu chí hoạt động</h3>
    <hr/>
    <p>
      Công ty TNHH Thiết kế Xây dựng Miền Đông và Tây Nguyên đã phát triển theo hướng chuyên nghiệp từ lúc thành lập cho đến nay, dựa trên mô hình dịch vụ khép kín và trọn gói trong lĩnh vực thiết kế, thi công, nội thất nhằm đem lại sự đồng bộ cao và tối ưu hóa lợi ích cho khách hàng trong lĩnh vực xây dựng.
Với hơn 50 nhân viên có chuyên môn nghiệp vụ cao, được đào tạo thường xuyên, quy trình giám sát chặt chẽ, bắt đầu từ khâu thiết kế sơ phác kiến trúc đến việc hoàn thiện các chi tiết nội thất cho các loại công trình đã từng thực hiện, công ty TNHH Thiết kế Xây dựng Miền Đông và Tây Nguyên luôn chú trọng đến yếu tố chuyên nghiệp và luôn mong muốn lấy sự hài lòng của khách hàng làm tiêu chí hoạt động.
    </p>
    <strong>Chuyên nghiệp trong công việc - Tận tâm trong dịch vụ - Chu đáo khi hậu mãi.<strong>
  </div>
  <div class="row hidden-xs">
    <h3>Sơ đồ tổ chức</h3>
    <hr/>
    <div class="text-center">
      <object data="/hr.pdf" style="width: 900px; height: 750px;"></object>

    </div>
  </div>
  <div class="row">
    <h3>Quỹ tình thương Miền Đông  & Tây Nguyên</h3>
    <hr/>
  </div>
</div>
