<div class="container">
  <div class="row">
    <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
    <h3>Tổng quan công ty</h3>
    <table class="table">
      <tr>
        <td>Tên đầy đủ : </td>
        <td>Công ty TNHH Thiết kế Xây dựng Miền Đông và Tây Nguyên</td>
      </tr>
      <tr>
        <td>Mã số thuế : </td>
        <td>0313302383</td>
      </tr>
      <tr>
        <td>Trụ sở chính: </td>
        <td>Đường 11, phường Trường Thọ, quận Thủ Đức, thành phố Hồ Chí Minh</td>
      </tr>
      <tr>
        <td>Điện thoại    :</td>
        <td>0979 006 996 - 0932 702 446</td>
      </tr>
      <tr>
        <td>Website :</td>
        <td>xaydungmiendong.com   Email: miendongtaynguyen@gmail.com</td>
      </tr>
    </table>
    </div>

    <div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
      <h3><%= @company.about_us_title %> </h3>
      <p><%= @company.about_us_content.html_safe %></p>
    </div>
  </div>

  <div class="row">
    <h3>Tiêu chí hoạt động</h3>
    <hr/>
  </div>
  <div class="row">
    <h3>Sơ đồ tổ chức</h3>
    <hr/>
  </div>
  <div class="row">
    <h3>Quỹ tình thương Miền Đông  & Tây Nguyên</h3>
    <hr/>
  </div>
</div>
