<div class="container">
    <h3>Dang thi cong</h3>
    <hr/>
    <div id="products" class="row list-group">
    <%= render partial: 'product', collection: @products, as: :product %>
    </div>
     <h3>Hoan thanh</h3>
    <hr/>
</div>
