<div class="container">
    <h3>Đang thi công</h3>
    <hr/>
    <div id="products" class="row list-group">
      <%= render partial: 'product', collection: @products_working, as: :product %>
    </div>
    <h3>Hoàn thành</h3>
    <hr/>
    <div id="products" class="row list-group">
      <%= render partial: 'product', collection: @products_completed, as: :product %>
    </div>
</div>
